<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="like"> 
 	<insert id="likeSave" parameterType="like">
 		insert into like_table(m_id,b_number) 
 			values(#{m_id},#{b_number})
 	</insert>
 	
 	<update id="likeCheck" parameterType="HashMap">
 	update like_table set like_check = like_check+1
 	where m_id=#{m_id} and b_number=#{b_number}
 	
 	</update>
 	<update id="likeCancel" parameterType="HashMap">
 	update like_table set like_check = 0
 	where m_id=#{m_id} and b_number=#{b_number}
 	
 	</update>
 	
 	
 	
 	
 	</mapper>