<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<typeAlias alias="member" type="com.phl.nft.dto.MemberDTO"/>
		<typeAlias alias="board" type="com.phl.nft.dto.BoardDTO"/>
		<typeAlias alias="comment" type="com.phl.nft.dto.CommentDTO"/>
		<typeAlias alias="nft" type="com.phl.nft.dto.NftDTO"/>
		<typeAlias alias="point" type="com.phl.nft.dto.PointDTO"/>
		<typeAlias alias="cate" type="com.phl.nft.dto.CateDTO"/>
		<typeAlias alias="like" type="com.phl.nft.dto.LikeDTO"/>
	</typeAliases>
</configuration>
